.wrap {

}

.header {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  /*box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .3);*/
}

.header__text {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}

.header__decor {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 3px;
  background-color: #fff;
  border-radius: 80%;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 1), 0 -10px 25px rgba(0, 0, 0, 1), 0 -20px 25px rgba(0, 0, 0, 1);
}

.warships-list {
  margin: 0 auto;
  max-width: 1440px;
}