.wrap {

}

.header {
  width: 100%;
  padding: 10px 0;
  /*background: linear-gradient(0.25turn, #696969, #708090, #696969);*/
  background: linear-gradient(0.25turn, #696969, #708090, #696969);
}

.header__text {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FF6347;
}