.button {
  all: unset;
  box-sizing: border-box;
  padding: 5px;
  width: 100px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}

.button:disabled {
  opacity: .3;
  cursor: auto;
}

.button_light {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
}

.button_light:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 1);
}

.button_transparent {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .6);
  /*border: 1px solid #242424;*/
  color: #fff;
  text-shadow: 0 0 10px #242424;
}

.button_transparent:hover:not(:disabled) {
  /*border: 1px solid #fff;*/
  background-color: rgba(255, 255, 255, .6);
}