.list-container {
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 10px;
  overflow: auto;
  max-height: 100%;
}

.list-container::-webkit-scrollbar {
  width: 3px;
  height: 0;
  padding: 1px;
  background-color: transparent;
}

/* ползунок скроллбара */
.list-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50%;
}

.list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, min-content);
  gap: 20px 10px;
  margin: 0;
  padding: 0;
  max-width: 1400px;
  overflow: auto;
}

.list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.show-more-button {
  all: unset;
  box-sizing: border-box;
  padding: 5px;
  min-width: 210px;
  height: 100%;
  background: url(../../images/arrow-down.svg) 50% 75% no-repeat, rgba(255, 255, 255, .3);
  background-size: 0;
  border: 2px solid transparent;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-shadow: 0 0 10px #242424;
  cursor: pointer;
  transition: background .3s, font-size .3s;
}

.show-more-button:hover {
  background: url(../../images/arrow-down.svg) 50% 75% no-repeat, rgba(255, 255, 255, .7);
  background-size: 10%;
}

.text {
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}