.filters-wrap {
  display: flex;
  margin: 0 auto 20px;
  max-width: 1440px;
}

.filters-area {
  display: flex;
  gap: 20px;
  
  /*flex-basis: 45%;*/
  
  justify-content: space-between;
}

.buttons-area {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}