.filters-wrap {
  align-self: flex-start;
  display: flex;
  /*margin: 0 0 20px;*/
  max-width: 1440px;
  z-index: 5;
}

.filters-area {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.buttons-area {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}